* {
  box-sizing: border-box;
}

.App {
  font: 16px "Avenir Next", sans-serif;
  color: #222;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  margin: 0 0 40px;
  padding: 20px;
  color: white;
  background-color: #222;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
  font-weight: 500;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a {
  font-weight: 600;
  color: darkblue;
  text-decoration: none;
  border-bottom: 1px solid darkblue;
}

a:hover {
  color: #000;
  border-bottom: none;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.flex-container {
  display: flex;
}
